<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>E mail</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Liked in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.nombre %></td>
        <td><%= client.telefono %></td>
        <td><%= client.direccion %></td>
        <td><%= client.e_mail %></td>
        <td><%= client.facebook %></td>
        <td><%= client.twitter %></td>
        <td><%= client.liked_in %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
