<!DOCTYPE html>
<html>
<head>
  <title>Lybredig</title>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Lybredig", root_path, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Browse Books", books_path %></li>
          <li><%= link_to "New Sale", new_sale_path %></li>
          <li><%= link_to "Browse clients", clients_path %></li>
          <li><%#= link_to "Browse saleDetails", saleDetails %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
	<div class="row">
    	<div class="span9">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
	</div>
</div>
</body>
</html>
